<h1>Coffee App Administration</h1>

You have <%= @num_subscribers %> subscribers.
<br>
<b>Notifications:</b> <%= link_to "New", :controller => 'notifications', :action => 'new' %> <%= link_to "View", notifications_path %>
<br>
<b>Upcoming Events:</b> <%= link_to "New", :controller => 'events', :action => 'new' %> <%= link_to "View", events_path %>
<hr>
<table>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description[0...50] %></td>
        <td><%= event.start_date.strftime("%b %d %R") %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<%= link_to "View Subscriptions", subscribers_path %>
<style>
body {
  background-color: #f4e6c6;
}
</style>
