<p id="notice"><%= notice %></p>

<h1>Subscribers</h1>

<%= link_to 'Home', root_path %>
<br>
<table>
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>User agent</th>
      <th>Ip addr</th>
      <th>Name</th>
      <th>Friend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.endpoint %></td>
        <td><%= subscriber.user_agent %></td>
        <td><%= subscriber.ip_addr %></td>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.friend %></td>
        <td><%= link_to 'Show', subscriber %></td>
        <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %></td>
        <td><%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscriber', new_subscriber_path %>
