<p id="notice"><%= notice %></p>

<p>
  <strong>Endpoint:</strong>
  <%= @subscriber.endpoint %>
  <br>
  P256dh: <%= @subscriber.p256dh %>
  <br>
  Auth: <%= @subscriber.auth %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @subscriber.user_agent %>
</p>

<p>
  <strong>Ip addr:</strong>
  <%= @subscriber.ip_addr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subscriber.name %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @subscriber.friend %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
<%= link_to 'Home', root_path %>
