/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #f4e6c6;
  font-size: 1.5em;
}

br {
  line-height: 3em;
}

td {
  line-height: 1.2em;
  font-size: .8em;
}

textarea {
  width: 514px;
  height: 10em;
  padding: 0;
}

input[type=text] {
  width: 500px;
  padding: 0;
}
